.Section-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(226, 221, 213);
    margin-top: 1%;   
}

section{
    width: 100;
}

.Section-data h2{
    width: 100%;
    margin: 0px;
}